@using Abp.Web.Mvc.Extensions@*使用razor*@
@using MyCompanyName.AbpZeroTemplate.Web.Navigation
@model IEnumerable<System.Web.Mvc.SelectListItem>
@{
    ViewBag.CurrentPageName = PageNames.App.Host.PaperCreate;
}
@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/CreatePaper/Progess.css")
    @Html.IncludeStyle("~/libs/bootstrap-table/bootstrap-table.css")
}

@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/CreatePaper/AjaxRefresh.js")
    @Html.IncludeScript("~/libs/bootstrap-table/bootstrap-table.js")
    @Html.IncludeScript("~/libs/bootstrap-table/bootstrap-table-zh-CN.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>新建试卷</span> <small>试卷信息</small>
                </h1>
            </div>
        </div>
    </div>
</div>@*试卷浏览*@

<div class="portlet light margin-bottom-10">

    <div id="step">
        <div class="step-wrap">
            <div class="step-bg"></div>
            <div class="step-progress"></div>
            <ul class="step">
                <li class="step-item active">
                    <div class="step-item-num"><span>1</span></div>
                    <div class="step-item-title">试卷信息</div>
                </li>
                <li class="step-item">
                    <div class="step-item-num"><span>2</span></div>
                    <div class="step-item-title">备选题集</div>
                </li>
                <li class="step-item">
                    <div class="step-item-num"><span>3</span></div>
                    <div class="step-item-title">组卷方式</div>
                <li class="step-item">
                    <div class="step-item-num"><span>4</span></div>
                    <div class="step-item-title">组卷完成</div>
                </li>
            </ul>
        </div>
    </div>


</div>@*进度条*@
<div id="RefreshDiv">
    @Html.Partial("PaperInfo")
</div>
<div id="footer1" style="text-align: center; font-size: 9pt; background-image: url(Images/题库中间背景2.jpg); background-repeat: repeat-y; height: 63px; width: 1000px; margin: 0 auto; padding-top: 15px;">
    地址：陕西省西安市咸宁西路28号&nbsp; 邮编：710049<br />
    网址:www.xjtu.edu.cn&nbsp; 邮箱：xjetec@mail.xjtu.edu.cn<br />
    版权所有：西安交通大学计算机教学实验中心
</div>
